body{
  font-size: .9em;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; */
  font-family: Consolas, 'Courier New',
    monospace;
  background: rgba(199, 187, 120, 0.5);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputRow{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.inputRowGrey{
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.card{
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; */
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 30px rgba(0,0,0,0.6)  ;
  min-width: 500px ;
  width: 45% ;
  padding: 10px ;
  margin: 5px ;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr;
}


button, input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  margin: 1px ;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: translateY(.4px);
}