body{
  font-size: .8em;

}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputRow{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.inputs{
  display: flex;
}

input {
  padding: 1px !important;
  margin: 1px !important;
  border-radius: 4px !important;
  border-color: grey !important;
}


button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1px !important;
  margin: 1px !important;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: translateY(.4px);
}