body{
  display: grid;
  place-items: left;
  grid-template-columns: 1fr 1fr;
}

.inputRow{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.inputs{
  display: grid;
  grid-template-columns: repeat(1fr);
}

.main{
  width: 1280px;
}

input {
  padding: 1px !important;
  margin: 1px !important;
}


button {
  padding: 1px !important;
  margin: 1px !important;
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: 1px rgb(158, 169, 204);
  transform: translateY(1px);
}